.env
.idea
/heimdall
!/heimdall/.gitkeep
/sonarr
!/sonarr/.gitkeep
/radarr
!/radarr/.gitkeep
/prowlarr
!/prowlarr/.gitkeep
/qbittorrent
!/qbittorrent/.gitkeep
/pia
!/pia/.gitkeep
/pia-shared
!/pia-shared/.gitkeep
/letsencrypt
!/letsencrypt/.gitkeep
/jellyfin
!/jellyfin/.gitkeep