.env
.idea
docker-compose.override.yml
/homepage/logs
/homepage/*.yaml
/sonarr
!/sonarr/.gitkeep
/radarr
!/radarr/.gitkeep
/prowlarr
!/prowlarr/.gitkeep
/qbittorrent
!/qbittorrent/.gitkeep
/pia
!/pia/.gitkeep
/pia-shared
!/pia-shared/.gitkeep
/letsencrypt
!/letsencrypt/.gitkeep
/jellyfin
!/jellyfin/.gitkeep
/adguardhome/certs
/adguardhome/conf
!/adguardhome/conf/.gitkeep
/adguardhome/work
!/adguardhome/work/.gitkeep
/sabnzbd
!/sabnzbd/.gitkeep
